.App {
  text-align: center;
 

}

.rain {
  height: 900px;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.form {
  width: 500px;
  position: relative;
  margin: auto;
}

.default {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    z-index: -1;
}

.img {
  width: 500px;
  position: relative;
  margin-top: 10%;
  
}

.forecast {

  width: 800px;
  margin: auto;
}


.temp {
font-size: 80px;
font-family: Arial, Helvetica, sans-serif;
height: fit-content;

}


footer {
position: absolute;
bottom: 20px;
width: 100%;
font-style: italic;
font-size: small;
}
