.App {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.rain {
  height: 900px;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.staticPhone{
width: 100%;
min-height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.snow {
  height: 900px;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.form {
  width: 90%;
  position: relative;
  margin: auto;
}

.default {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    z-index: -1;
}

.img {
  width: 500px;
  position: relative;
  margin-top: 10%;
  
}


.forecast {

  width: 100%;
  margin: auto;
  font-family: 'Abril Fatface', cursive;
}

/* .tint {
  background-color: rgb(181, 206, 226, 0.5)
} */

.temp {
font-size: 80px;
font-family: 'Abril Fatface', cursive;
height: fit-content;


}


footer {
position: absolute;
bottom: 20px;
width: 100%;
font-style: italic;
font-size: small;
}
